AirportLogicService/Connected Services/RepositoryServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/RepositoryService/RepositoryService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTOs" />
  <xs:element name="GetFutureFlights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFutureFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTOs" minOccurs="0" name="GetFutureFlightsResult" nillable="true" type="q1:ArrayOfFlightDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlightToSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTOs" minOccurs="0" name="flight" nillable="true" type="q2:FlightDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlightToScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTOs" minOccurs="0" name="AddFlightToScheduleResult" nillable="true" type="q3:FlightDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlightInfoToHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTOs" minOccurs="0" name="flightInfo" nillable="true" type="q4:FlightInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlightInfoToHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTOs" minOccurs="0" name="stationDTO" nillable="true" type="q5:StationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>