AirportSimulator/Connected Services/LogicServiceReference/DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FlightDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="StartRouteTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" type="tns:State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightDTO" nillable="true" type="tns:FlightDTO" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Landing" />
      <xs:enumeration value="TakingOff" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="ArrayOfFlightDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightDTO" nillable="true" type="tns:FlightDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightDTO" nillable="true" type="tns:ArrayOfFlightDTO" />
  <xs:complexType name="ArrayOfStationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StationDTO" nillable="true" type="tns:StationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStationDTO" nillable="true" type="tns:ArrayOfStationDTO" />
  <xs:complexType name="StationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlightID" type="xs:int" />
      <xs:element minOccurs="0" name="StationID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StationDTO" nillable="true" type="tns:StationDTO" />
</xs:schema>