AirportSimulator/Connected Services/LogicServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/AirportLogicService/AirportManagerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTOs" />
  <xs:element name="SceduleNewFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTOs" minOccurs="0" name="flightDTO" nillable="true" type="q1:FlightDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SceduleNewFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SceduleNewFlightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>