AirportLogicService/Connected Services/RepoServiceReference/RepositoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RepositoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8734/RepositoryService/RepositoryService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8734/RepositoryService/RepositoryService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8734/RepositoryService/RepositoryService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRepository_GetFutureFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFutureFlights" />
  </wsdl:message>
  <wsdl:message name="IRepository_GetFutureFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFutureFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IRepository_AddFlightToScedule_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFlightToScedule" />
  </wsdl:message>
  <wsdl:message name="IRepository_AddFlightToScedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFlightToSceduleResponse" />
  </wsdl:message>
  <wsdl:portType name="IRepository">
    <wsdl:operation name="GetFutureFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepository/GetFutureFlights" message="tns:IRepository_GetFutureFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepository/GetFutureFlightsResponse" message="tns:IRepository_GetFutureFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFlightToScedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepository/AddFlightToScedule" message="tns:IRepository_AddFlightToScedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepository/AddFlightToSceduleResponse" message="tns:IRepository_AddFlightToScedule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRepository" type="tns:IRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFutureFlights">
      <soap:operation soapAction="http://tempuri.org/IRepository/GetFutureFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFlightToScedule">
      <soap:operation soapAction="http://tempuri.org/IRepository/AddFlightToScedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepositoryService">
    <wsdl:port name="BasicHttpBinding_IRepository" binding="tns:BasicHttpBinding_IRepository">
      <soap:address location="http://localhost:8734/RepositoryService/RepositoryService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>